.banner {
    border: 1px solid yellow;
    margin: auto;
}
 .card-body{
    padding-left: 65px;
 }
.col-sm-6 {
    padding-bottom: 65px;
    max-width:100%;
    height:auto;
}
.form-group{
    display:inline-block;
    padding:10px;
    width: 225px;
}
.address{
    display:block;
    padding:10px;
    width: 450px;
}