/* The grid: Four equal columns that floats next to each other */
.col {
    width: 20%;
    overflow: hidden;
    padding: 0px 0px 0px 20px;
  }

  /* Style the images inside the grid */
.col img {
    opacity: 0.8; 
    cursor: pointer;
    height: 20%; 
  }

.col img:hover {
    opacity: 1;
}

.quantityClass {
    margin-left: 10px;
}

  /* The expanding image container (positioning is needed to position the close button and the text) */
#innerCon {
    position: relative;
}

#innerRow {
    margin-left: 15%;
}

#expandedImg {
    margin-bottom: 30px;
}

