{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}<!--Add a search box like figma example https://www.figma.com/file/3U5ECD3dQNLCi4cU3l3yIB/Website-Mockup?node-id=0%3A1-->
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
    <title>Home</title>
</head>

<!-- very little stying, can be cleaned up. Just a search bar to grab search input. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <form method="POST">
        <div class="form-group">
            <label for="search"></label><input
            type="text"
            placeholder="Search..."
            name="search"
            id="search"
            class="form-control"
            float="left"
          />
        </div>
        <div class="form-group" style="width: 10rem">
            <label for="category"></label><select
            name="category"
            id="category"
            class="selectpicker form-control"
            float="left"
          >
            <option value="0">None</option>
            <option value="1">electronics</option>
            <option value="2">antiques</option>
            <option value="3">arts&crafts</option>
            <option value="4">baby/kid</option>
            <option value="5">beauty/health</option>
            <option value="6">books</option>
            <option value="16">camping</option>
            <option value="7">furniture</option>
            <option value="8">general</option>
            <option value="9">household</option>
            <option value="10">motor vehicles</option>
            <option value="11">outdoors</option>
            <option value="12">service</option>
            <option value="13">sporting</option>
            <option value="14">tools</option>
            <option value="15">toys/games</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" name="submit" class="btn btn-primary">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>

<body style="background-color: rgb(242, 251, 255)">
  <br />
  <h1
    style="
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-shadow: 0 0 2px #ffffff;
      font-weight: bold;
    "
  >
    Listings
  </h1>
  <br />

  <!--Left in for reference-->

  <!--<ul class="list-group list-group-flush" id="items">

    {% for Item in user.items %}
    <li
      class="list-group-item"
      style="background-color: rgb(221, 221, 221); max-height: 40px"
    >
      <p style="font-size: 20px; font-family: Arial, Helvetica, sans-serif">
        {{ Item.name }}: {{Item.description}}, ${{Item.price_in_cents / 100}}0
        This is delete function that works with static/index.js (somehow) Funct not needed in here, but good to have this reference for deleting item in profile - my listings page-->
  <!--<button type="button" class="close" onClick="delete({{ Item.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
    </li>
    {% endfor %}
  </ul>
  <br /><br />-->
  <div class="card-body">
    <div class="row">
      <!-- loop through every item and display them. Filter by search. -->
      {% for Item in items %}
      <!---->
      {% if searched == '' or searched.lower() in Item.description.lower() or
      searched.lower() in Item.name.lower() %} {% if Item.category_id ==
      category or category == 0 %} {% if Item.owner_id != user.id and
      Item.is_available%}

      <form method="POST" align="left">
        <div class="col-sm-6 col-md-4">
          <!-- 'a' tag links to a hyperlink. When clicked, route to the 'item' 
      template with the second part of the url as the id. Pass the id to 
      the rendered page to get the item id.
      !!!!!!!!!!!NOT A BIG FAN OF THE WAY THIS IS SET UP BUT WORKS!!!!!!!!!!!!! -->

          <div class="card border-success" style="width: 20rem">
            <a href="{{'/order/item/' ~ Item.id}}">
              <!-- read the item image and styling. title field is hover text -->
              {% if Item.image_name %}
              <img
                src="{{'static/images/' ~ Item.image_name }}"
                class="card-img-top"
                alt="No Image"
              />
              {% else %}
              <img
                src="{{'static/images/no-image.jpeg'  }}"
                class="card-img-top"
                alt="No Image"
              />
              {% endif %}
              <h5
                class="card-title"
                style="padding-top: 15px; color: rgb(3, 4, 5)"
              >
                <b>{{ Item.name }}</b>
              </h5>
            </a>
            <ul class="list-group list-group-flush">
              <p class="card-text">{{Item.description}}</p>
              <li class="list-group-item"><b>Quantity:</b> {{ Item.quantity }}</li>
              <li class="list-group-item">
                <b>Price:</b> {{"${:.2f}".format(Item.price_in_cents/100)}}
              </li>
              <li class="list-group-item">
                <b>Value:</b> {{"${:.2f}".format(Item.value_in_cents/100)}}
              </li>
              <li class="list-group-item">
				  <b>Location:</b> {{location[loop.index0]}}
				  <!-- {{user.street}} {{location.city}} {{location.state}} 
				  {{location.zip}} -->
              </li>
            </ul>
          </div>
        </div>
      </form>
      {% endif %} {% endif %} {% endif %}{% endfor %}
    </div>
  </div>
</body>
{% endblock %}
