{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}
<br>
<h3 align="center">Profile Dashboard</h3>
<br>
<h4>Current Information</h4>
<h5>Name: {{ user.first_name }} {{ user.last_name }}</h5>
<h5>Email: {{ user.email }}</h5>
<h5>Address: {{ user.street }}</h5>
<h5>City: {{ user.location.city }}</h5>
<h5>State: {{ user.location.state }}</h5>
<h5>Zip: {{ user.location.zip }}</h5>
<br>
<br>
<form method="POST">
  {% if checkAuth %}
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="First Name"
    />
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
    />
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
    />
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="street"
            name="street"
            placeholder="Street Address"
    />
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            placeholder="City"
    />
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="state"
            name="state"
            placeholder="State"
    />
  </div>
  <div class="form-group">
    <input
            type="text"
            class="form-control"
            id="zip"
            name="zip"
            placeholder="Zip code"
    />
  </div>
  <br>
  <input type="submit" name="submit" value="Update Profile" class="btn btn-primary"></button>
  <br>
  <br>
  <br>
  <br>
  <div class="form-group">
    <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="New Password"
    />
  </div>
  <div class="form-group">
    <input
            type="password"
            class="form-control"
            id="confPassoword"
            name="confPassword"
            placeholder="Confirm Password"
    />
  </div>
  <br>
  <input type="submit" name="submit" value="Change Password" class="btn btn-primary"></button>
  <br>
  <br>
  {% else %}
  Enter your password to unlock editing.
  <br><br>
  <div class="form-group">
    <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
    />
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Edit Profile</button>
  <br>
</form>
        {% endif %}
        {% endblock %}