{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}
<head>
  <link rel="stylesheet" href="static/css/profile.css" />
</head>


<div class="accordion" id="accordionItem">
  <!--Card 1-->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Listings
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionItem">
      
      <div class="card-body">
        <div class="row">

          {% for Item in user.items %}
          <div class="col-sm-6 col-md-4">
            
            <div class="card border-success" style="width: 24rem;">
              <img src="static/images/img_nature.jpg" class="card-img-top" alt="...">
              <div class="card-body text-info">
                <h5 class="card-title"><b>{{ Item.name }}</b></h5>
                <p class="card-text">{{Item.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Quantity: {{ Item.quantity }}</li>
                <li class="list-group-item">Price: {{"${:.2f}".format(Item.price_in_cents/100)}}</li>
                <li class="list-group-item">Value: {{"${:.2f}".format(Item.value_in_cents/100)}}</li>
                <li class="list-group-item">Location: {{user.street}} {{location.city}} {{location.state}} {{location.zip}}</li>
              </ul>
              <div class="card-body">
                <a href="{{'/item/' ~ Item.id}}" class="card-link">View Details</a>
                <a href="{{'/item/' ~ Item.id}}" class="card-link">Edit</a>
              </div>
            </div>
            
          </div>
          {% endfor %}

        </div>
      </div>
      
    </div>
    
  </div>

  <!--Card 2-->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          My Rentals
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionItem">
      <div class="card-body">
        <div class="row">

          {% for Order in user.orders %}
          <div class="col-sm-6 col-md-4">
            
            <div class="card border-success" style="width: 24rem;">
              <img src="static/images/img_nature.jpg" class="card-img-top" alt="...">
              <div class="card-body text-info">
                <h5 class="card-title"><b>{{ Order.name }}</b></h5>
                <p class="card-text">{{Order.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: {{"${:.2f}".format(Order.price_in_cents/100)}}</li>
                <li class="list-group-item">Location: Glassboro, NJ</li>
                <li class="list-group-item">Last Modified Date: Today</li>
              </ul>
              <div class="card-body">
                <a href="{{'/item/' ~ Item.id}}" class="card-link">View Details</a>
                <a href="#" class="card-link">Edit</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <!--Card 3-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          My Profile
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionItem">
      <div class="card-body">
        <div>
          <br>
          <h4>Current Information</h4>
          <h5>Name: {{ user.first_name }} {{ user.last_name }}</h5>
          <h5>Email: {{ user.email }}</h5>
          <h5>Address: {{ user.street }}</h5>
          <h5>City: {{ user.location.city }}</h5>
          <h5>State: {{ user.location.state }}</h5>
          <h5>Zip: {{ user.location.zip }}</h5>
          <br>
          <br>
          
          <form method="POST">
            {% if checkAuth %}
            <div class="form-group">
              <input
                      type="text" 
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <input
                      type="text" 
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email"
              />
            </div>
            <div class="address">
              <input
                      type="text"
                      class="form-control"
                      id="street"
                      name="street"
                      placeholder="Street Address"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      placeholder="City"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="state"
                      name="state"
                      placeholder="State"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="zip"
                      name="zip"
                      placeholder="Zip code"
              />
            </div>
            <br>
            <input type="submit" name="submitNewInfo" id="submitNewInfo" value="Update Profile" class="btn btn-primary"></button>
            <br>
            <br>
            <br>
            <br>
            <div class="password">
              <div class="form-group">
                <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        name="newPassword"
                        placeholder="New Password"
                />
              </div>
              <div class="form-group">
                <input
                        type="password"
                        class="form-control"
                        id="confPassoword"
                        name="confPassword"
                        placeholder="Confirm Password"
                />
              </div>
              <input type="submit" name="SubmitNewPassword'" id="SubmitNewPassword'" value="Change Password" class="btn btn-primary"></button>
              <br>
            </div>
            <br>
            {% else %}
            Enter your password to unlock editing.
            <br><br>
            <div class="form-group">
              <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
              />
            
              <br>
              <button type="submit" name="submit" value="Edit Profile" class="btn btn-primary">Edit Profile</button>
              <br>
            </div>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>


        {% endif %}
        {% endblock %}