{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block content %}
<head>
  <link rel="stylesheet" href="static/css/profile.css" />
</head>


<div class="accordion" id="accordionItem">
  <!--Card 1-->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Listings
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionItem">
      
      <div class="card-body">
        <div class="row">

          {% for Item in user.items %}
          <div class="col-sm-6 col-md-4">
            
            <div class="card border-success" style="width: 24rem;">
              {% if Item.image_name %}
              <img
                src="{{'static/images/' ~ Item.image_name }}"
                class="card-img-top"
                alt="No Image"
              />
              {% else %}
              <img
                src="{{'static/images/no-image.jpeg'  }}"
                class="card-img-top"
                alt="No Image"
              />{% endif %}
              <div class="card-body text-info">
                <h5 class="card-title"><b>{{ Item.name }}</b></h5>
                <p class="card-text">{{Item.description}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Quantity:</b> {{ Item.quantity }}</li>
                <li class="list-group-item"><b>Price:</b> {{"${:.2f}".format(Item.price_in_cents/100)}}</li>
                <li class="list-group-item"><b>Value:</b> {{"${:.2f}".format(Item.value_in_cents/100)}}</li>
                <li class="list-group-item"><b>Location:</b> {{user.street}} {{location.city}} {{location.state}} {{location.zip}}</li>
              </ul>
              <div class="card-body">
                <a href="{{'/item/' ~ Item.id}}" class="card-link">View Details</a>
                <a href="{{'/edit/' ~ Item.id}}" class="card-link">Edit</a>
                <a href="{{'/history/' ~ Item.id}}" class="card-link">View History</a>
              </div>
            </div>
            
          </div>
          {% endfor %}

        </div>
      </div>
      
    </div>
    
  </div>

  <!--Card 2-->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          My Rentals
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionItem">
      <div class="card-body">
        <div class="row">
          {% if listItem %}
            {% for thatOneOrder in user.orders %}
                {% if thatOneOrder.is_active %}
                {% if listItem[loop.index-1] %}
                {% if listItemUser[loop.index-1] %}
              <div class="col-sm-6 col-md-4">
                <div class="card border-success" style="width: 24rem;">
                  
                  <img src="{{'static/images/' ~ listItem[loop.index-1].image_name}}" class="card-img-top" alt="...">
                  <div class="card-body text-info">
                    <h5 class="card-title"><b>{{listItem[loop.index-1].name}}</b></h5>
                    <p class="card-text">{{listItem[loop.index-1].description}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Price:</b> {{"${:.2f}".format(listItem[loop.index-1].price_in_cents/100)}}</li>
                    <li class="list-group-item"><b>Location:</b> {{ listItemUser[loop.index-1].street }} {{ listUserLocation[loop.index-1].city }} {{ listUserLocation[loop.index-1].state }} {{ listUserLocation[loop.index-1].zip }}</li>
                    <li class="list-group-item"><b>Scheduled pickup:</b> {{ thatOneOrder.scheduled_pickup_date }}</li>
                    <li class="list-group-item"><b>Scheduled return:</b> {{ thatOneOrder.scheduled_return_date }}</li>
                  </ul>
                  
                  <div class="card-body">
                      {% if thatOneOrder.actual_pickup_date == None %}
                      <a href="{{'/pickup/item/' ~ thatOneOrder.id}}">Pickup</a>
                      {% else %}
                      <a href="{{'/return/item/' ~ thatOneOrder.id}}">Return</a>
                      {% endif %}
                  </div>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endif %}
            {% endfor %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!--Card 3-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          My Rentals History
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionItem">
      <div class="card-body">
        <div class="row">
          {% if listItem %}
            {% for thatOneOrder in user.orders %}
                {% if not thatOneOrder.is_active %}
                {% if listItemUser[loop.index-1] %}
                
                
              <div class="col-sm-6 col-md-4">
                <div class="card border-success" style="width: 24rem;">
                  
                  <img src="{{'static/images/' ~ listItem[loop.index-1].image_name}}" class="card-img-top" alt="...">
                  <div class="card-body text-info">
                    <h5 class="card-title"><b>{{listItem[loop.index-1].name}}</b></h5>
                    <p class="card-text">{{listItem[loop.index-1].description}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Owner:</b> {{ listItemUser[loop.index-1].first_name }} {{ listItemUser[loop.index-1].last_name }} </li>
                    <li class="list-group-item"><b>Price:</b> {{"${:.2f}".format(listItem[loop.index-1].price_in_cents/100)}}</li>
                    <li class="list-group-item"><b>Location:</b> {{ listItemUser[loop.index-1].street }} {{ listUserLocation[loop.index-1].city }} {{ listUserLocation[loop.index-1].state }} {{ listUserLocation[loop.index-1].zip }}</li>
                    <li class="list-group-item"><b>Scheduled pickup:</b> {{ thatOneOrder.scheduled_pickup_date }}</li>
                    <li class="list-group-item"><b>Scheduled return:</b> {{ thatOneOrder.scheduled_return_date }}</li>
                    <li class="list-group-item"><b>Actual pickup date:</b> {{ thatOneOrder.actual_pickup_date }}</li>
                    <li class="list-group-item"><b>Actual return date:</b> {{ thatOneOrder.actual_return_date }}</li>
                    {% set orderTotal = thatOneOrder.total | int() %}
                    <li class="list-group-item"><b>Price:</b> {{"${:.2f}".format(orderTotal/100)}}</li>
                  </ul>
                </div>
              </div>
              
              {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!--Card 4-->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          My Profile
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionItem">
      <div class="card-body">
        <div>
          <br>
          <h4>Current Information</h4>
          <h5>Name: {{ user.first_name }} {{ user.last_name }}</h5>
          <h5>Email: {{ user.email }}</h5>
          <h5>Address: {{ user.street }}</h5>
          <h5>City: {{ user.location.city }}</h5>
          <h5>State: {{ user.location.state }}</h5>
          <h5>Zip: {{ user.location.zip }}</h5>
          <br>
          <br>
          
          <form method="POST">
            {% if checkAuth %}
            <div class="form-group">
              <input
                      type="text" 
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <input
                      type="text" 
                      class="form-control"
                      id="lastName"
                      name="lastName"
                      placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Email"
              />
            </div>
            <div class="address">
              <input
                      type="text"
                      class="form-control"
                      id="street"
                      name="street"
                      placeholder="Street Address"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      placeholder="City"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="state"
                      name="state"
                      placeholder="State"
              />
            </div>
            <div class="form-group">
              <input
                      type="text"
                      class="form-control"
                      id="zip"
                      name="zip"
                      placeholder="Zip code"
              />
            </div>
            <br>
            <div class="password">
              <div class="form-group">
                <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        name="newPassword"
                        placeholder="New Password"
                />
              </div>
              <div class="form-group">
                <input
                        type="password"
                        class="form-control"
                        id="confPassoword"
                        name="confPassword"
                        placeholder="Confirm Password"
                />
              </div>
              <input type="submit" name="submitNewInfo" id="submitNewInfo" value="Update Profile" class="btn btn-primary"></button>
              <br>
            </div>
            <br>
            {% else %}
            Enter your password to unlock editing.
            <br><br>
            <div class="form-group">
              <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
              />
            
              <br>
              <button type="submit" name="submit" value="Edit Profile" class="btn btn-primary">Edit Profile</button>
              <br>
            </div>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>


        {% endif %}
        {% endblock %}